@import "../../assets/sass/fonts";
@import "../../assets/sass/colors";

html, body {
    font-family: $font-family;
    font-size: $fontsize;
    letter-spacing: $fontspacing;
    line-height: $lineheight;
    color: hsl(149, 85%, 52%);//$foreground;

    user-select: none;
    text-shadow: $foreground-glow;

    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    background: $background;
    background-image: $background-gradient;
    background-attachment: fixed;
    height: 100%;
}

.phosphor {
    padding: $lineheight;
}

.alert {
    // color: $alert;
    // color: $foreground;
    // text-shadow: $foreground-glow;
    // text-shadow: $alert-glow;
    color: $background;
    background: $foreground;
    // outline: 5px $foreground;
    text-shadow: $background-glow;
    box-shadow: $foreground-glow;
    // box-shadow: $subtle-foreground-glow;
    animation: flash 1.33s infinite steps(1);

    & > span.cursor {
        color: $alert;
        background-color: rgba($alert, 0.75);
    }

    @keyframes flash {
        0% {
            color: $light-background;
            background: $foreground;
            // outline: 5px $foreground;
            text-shadow: $background-glow;
            box-shadow: $large-foreground-glow;
        }
        50% {
            color: $foreground;
            text-shadow: $foreground-glow;
            background: $transparent;
            box-shadow: none;
        }
    }
}